<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		Hi There!
		
		Congrats. A comment has been added on noster
		
		Check it out, <%= place_url(@place) %>
	</body>
</html>