@font-face {
	font-family: 'capsuularegular';
	src: font_url('capsuula-webfont.woff2') format('woff2'),
		 font_url('capsuula-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}