@import "bootstrap";
@import "font-awesome";

body {
	background: image_url('whirlpool.png');
	font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
/*	font-family: 'capsuularegular';	*/
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
}

blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

blockquote:before {
	color: #ccc;
	content: open-quote;
	font-size: 4em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

blockquote p {
	display: inline;
}

div.polaroid {
	height: 80%;
	width: 80%;
	padding: 0;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 10px;
	margin-left: 5%; 
}

div.container {
	text-align: center;
	padding: 10px 20px;
}

.booyah-box {
	-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
	-webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
	box-shadow: 1px 1px 2px 0 #d0d0d0;
	background: #fff;
	border: 1px solid #ccc;
	border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 20px;
}

.navbar {
	background: image_url('dark-triangles.png');
	box-shadow: 0px 1px 3px #2a2a2a;
}

.navbar-dark .navbar-brand {
	color: #DFDFDF;
	font-family: 'capsuularegular';
	font-size: 26px;
	font-weight: bold;
}

.a_pagination {
	background: #f1f1f1;
	border: 1px solid #e5e5e5;
	text-align: center;
	padding: 1em;
	cursor: default;
}

.a_pagination a, span {
	padding: 0.2em 0.3em;
}
	
.a_pagination .disabled{
	color: #aaaaaa;
}	
.a_pagination .current {
	font-style: normal;
	font-weight: bold;
	background-color: darken(#f1f1f1, 10);
	display: inline-block;
	width: 1.4em;
	height: 1.4em;
	line-height: 1.5;
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	box-shadow: 0px 1px 2px #2a2a2a;;
}

.a_pagination a {
	text-decoration: none;
	color: black;
}

.a_pagination a:hover, a:focus {
	text-decoration: underline
}

.dark_link {
	color: black;
}

.dark_link:hover {
	text-decoration: none;
	color: #787878;
}

.invalid-feedback {
	color: #ff3333;
	background-color: #FFEEEE;
	border-radius: 3px;
	padding: 2px 8px 2px 8px;
}

.clear {
	clear: both;
}

.comment_divider {
	width: 80%;
}


.testSheet{
		width: 100%;
		height: auto;
		overflow: hidden;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
	max-height: 550px;
	width: 100%;
	margin-bottom: 0;
}

.carousel-caption {
	font-size: 60px;
	font-weight: 100;
	text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	position: absolute;
	left: 0;
}

.carousel {
	box-shadow: 0px 3px 8px #2a2a2a;
}

.carousel-item.active, 
.carousel-item-next, 
.carousel-item-prev {
	display: block;
}

#map {
	height: 300px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
